.header{
	background-color:  #7FA9BE;
	color: #262D35;
  	text-align: center;
  	padding: 30px;
	font-family: Georgia; 
	font-size: 45px;
}
/* ---------------------------------------------------------------------------------------------- */
.menu{
	background-color: #262D35;
}
/* layout referenced from (W3Schools, 2021, https://www.w3schools.com/css/css_website_layout.asp) */

a{
  	color: gainsboro;
  	padding: 15px 3.5%;
  	text-align: center;
  	display: inline-table;
	text-decoration: none;
}

a:hover, a:active {
			background-color:  #7FA9BE;
			color: #262D35;
}


.column {
  float: left;
  padding: 10px;
}

.side.column {
  width: 25%;
}

.column.main {
  width: 50%;
}

/* ---------------------------------------------------------------------------------------------- */
.row:before {
  content: "";
  display: table;
  clear: both;
}
/* layout referenced from (W3Schools, 2021, https://www.w3schools.com/css/css_website_layout.asp) */
      
body{
	margin: 0;
	height: 100vh;
  	width: 100vw;
	margin-bottom: 0px;
  	background-color: Gainsboro;
}
h1{
  font-family: Georgia; 
  font-size: 45px; 
  color: #262D35;
}

p{
    font-family: Georgia; 
	font-size: 18px; 
	color: #262D35;
}

.pQuote:after{
	content: " - Andreas GG, 2021";
}

.footer {
  	background-color: #262D35;
  	text-align: center;
	padding: 30px;
	font-family: Georgia; 
	font-size: 18px;
	color: #7FA9BE;
}
img{
	width: 300px
}
