.header{
	background-color:  #7FA9BE;
	color: #262D35;
  	text-align: center;
  	padding: 30px;
	font-family: Georgia; 
	font-size: 45px;
}
/* ---------------------------------------------------------------------------------------------- */
.topMenu{
	overflow: hidden;
	background-color: #262D35;
}

.topMenu a{
  		color: gainsboro;
  		padding: 15px 3.5%;
  		text-align: center;
  		display: inline-block;
		text-decoration: none;
}
/* layout referenced from (W3Schools, 2021, https://www.w3schools.com/css/css_website_layout.asp) */

a:hover, a:active {
			background-color:  #7FA9BE;
			color: #262D35;
}

/* ---------------------------------------------------------------------------------------------- */
.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* layout referenced from (W3Schools, 2021, https://www.w3schools.com/css/css_website_layout.asp) */
      
body{
	margin: 0;
	height: 100vh;
  	width: 100vw;
	margin-bottom: 0px;
  	background-color: Gainsboro;
}
h1{
  font-family: Georgia; font-size: 45px; color: #262D35;
}

p{
    font-family: Georgia; font-size: 18px; color: #262D35;
}

.footer {
  	background-color: #262D35;
  	text-align: center;
	padding: 30px;
	font-family: Georgia; 
	font-size: 18px;
	color: #7FA9BE;
}
img{
	width: 300px
}
